<div class="form-container">
  <mat-card class="form-card">
    <mat-card-content>
      <form [formGroup]="formGroup">

        <div class="container-flex">
          <div class="image-section">
            <!-- Image Upload Section -->
            <div class="image-upload">
              <mat-card class="image-card" (click)="openImagePicker()">
                <mat-icon class="plus-icon">add</mat-icon>
              </mat-card>
              <input type="file" #fileInput style="display:none;" (change)="onFileSelected($event)">
            </div>
          </div>
          <div class="form-section">

            <!-- Form Fields -->
            <mat-form-field appearance="fill" class="full-width-input">
              <mat-label>Nome</mat-label>
              <input matInput type="text" formControlName="nome">
              <mat-error *ngIf="formGroup.get('nome')
                           && formGroup.get('nome')?.invalid
                           && formGroup.get('nome')?.touched">
                O nome é obrigatorio.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width-input">
              <mat-label>Valor</mat-label>
              <input matInput type="number" formControlName="valor">
              <mat-error *ngIf="formGroup.get('valor')
                           && formGroup.get('valor')?.invalid
                           && formGroup.get('valor')?.touched">
                O valor é obrigatorio.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width-input">
              <mat-label>Descricao</mat-label>
              <input matInput type="text" formControlName="descricao">
              <mat-error *ngIf="formGroup.get('descricao')
                           && formGroup.get('descricao')?.invalid
                           && formGroup.get('descricao')?.touched">
                A descricao é obrigatorio.
              </mat-error>
            </mat-form-field>

            <div class="item">
            <mat-form-field appearance="fill">
              <mat-label>Sabor</mat-label>
              <mat-select formControlName="listaSabor">
                @for (sabor of sabores; track sabor.id) {
                <mat-option [value]="sabor">
                {{sabor.sabor}}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <button mat-raised-button routerLink="/admin/sabores/new" class="full-width-button">
              <mat-icon>add</mat-icon>
            </button>
            </div>

            <div class="item">
            <mat-form-field appearance="fill">
              <mat-label>Marca</mat-label>
              <mat-select formControlName="listaMarca">
                @for (marca of marcas; track marca.id) {
                <mat-option [value]="marca">
                {{marca.nome}}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <button mat-raised-button routerLink="/admin/marcas/new" class="full-width-button">
              <mat-icon>add</mat-icon>
            </button>
            </div>
          </div>
        </div>

      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              color="primary"
              (click)="salvar()"
              [disabled]="formGroup.invalid">
        Salvar
      </button>
      <button mat-raised-button
              *ngIf="formGroup?.get('id')?.value"
              color="warn"
              (click)="excluir()"
              [disabled]="formGroup.invalid">
        Excluir
      </button>
      <button mat-raised-button
              routerLink="/admin/nicsalts">
        Cancelar
      </button>

    </mat-card-actions>
  </mat-card>
</div>

