<mat-toolbar color="black">
    <span class="toolbar-title">Cadastro de Resistencia</span>
</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Ohms</mat-label>
                    <input matInput type="text" formControlName="ohms">
                    <mat-error *ngIf="formGroup.get('ohms')?.errors &&
                                      formGroup.get('ohms')?.touched">
                        @if (formGroup.get('ohms')?.errors?.['required']) {
                            <span>O ohms deve ser informado.</span>
                        }
                        @if (formGroup.get('ohms')?.errors?.['minlength']) {
                            <span>O ohms deve possuir ao menos 1 caracteres.</span>
                        }
                        @if (formGroup.get('ohms')?.hasError('apiError')) {
                            <span>{{ formGroup.get('ohms')?.getError('apiError') }}</span>
                        }
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
                    color="primary"

                    (click)="salvar()">
                    <!-- [disabled]="formGroup.invalid">  -->
                Salvar
            </button>
            <button mat-raised-button
                    *ngIf="formGroup?.get('id')?.value"
                    color="warn"
                    (click)="excluir()"
                    [disabled]="formGroup.invalid">
                Excluir
            </button>
            <button mat-raised-button
                    routerLink="/admin/coils/new">
                Cancelar
            </button>

        </mat-card-actions>
    </mat-card>
</div>

