<mat-toolbar>
  <div class="header-left">
    <span class="header-title">MalakaPods</span>
  </div>
  <div class="header-center">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="header-right">
    <button routerLink="/carrinho" mat-icon-button class="demo-section example-icon favorite-icon"
            aria-label="Example icon-button with heart icon" style="margin-right: 10px;">
      <mat-icon [matBadge]="qtdItensCarrinho" matBadgeColor="warn" matBadgePosition="after"
                matBadgeOverlap="false" aria-hidden="false" class="larger-icon">shopping_cart</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="larger-icon">person</mat-icon>
    </button>
  </div>
</mat-toolbar>
