<div class="menu-container">
  <mat-card class="menu-item" routerLink="/admin/podsDescartaveis">
    <mat-card-content>Pod Descartável</mat-card-content>
  </mat-card>
  <mat-card class="menu-item" routerLink="/admin/podsRecarregaveis">
    <mat-card-content>Pod Recarregável</mat-card-content>
  </mat-card>
  <mat-card class="menu-item" routerLink="/admin/nicsalts">
    <mat-card-content>Nic Salt</mat-card-content>
  </mat-card>
  <mat-card class="menu-item" routerLink="/admin/coils">
    <mat-card-content>Coil</mat-card-content>
  </mat-card>
</div>
