<mat-toolbar color="black">
  <div class="flex-container">
    <span class="toolbar-title">Controle de Pod Descartaveis</span>
    <button mat-fab color="accent" routerLink="/podDescartaveis/new">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<table mat-table [dataSource]="podDescartaveis" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>
  
    <!-- Valor Column -->
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
    </ng-container>

    <!-- Descricao Column -->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descricao </th>
      <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
    </ng-container>

    <!-- Sabor Column -->
    <ng-container matColumnDef="sabor">
      <th mat-header-cell *matHeaderCellDef> Sabor </th>
      <td mat-cell *matCellDef="let element"> {{element.sabor.sabor}} </td>
    </ng-container>

    <!-- Puff Column -->
    <ng-container matColumnDef="puff">
      <th mat-header-cell *matHeaderCellDef> Puff </th>
      <td mat-cell *matCellDef="let element"> {{element.puff.quantidade}} </td>
    </ng-container>

    <!-- Marca Column -->
    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let element"> {{element.marca.nome}} - {{element.marca.descricao}} </td>
    </ng-container>

    <!-- Acao Column -->
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button 
                color="primary"
                routerLink="/podDescartaveis/edit/{{element.id}}">
                <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button 
                color="warn">
                <mat-icon>delete</mat-icon>
        </button>        
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
